.BasicUI .shared_svg_library_SteamDeckCompatInfo_2LcFI {
  background: none;
  padding: 0;
}

.shared_svg_library_SteamDeckCompatInfo_2LcFI>svg.shared_svg_library_SteamDeckCompatVerified_3mvZq,
.shared_svg_library_SteamDeckCompatInfo_2LcFI>svg.shared_svg_library_SteamDeckCompatPlayable_S7BDm {
  display: none;
}

.shared_svg_library_SteamDeckCompatInfo_2LcFI>svg.shared_svg_library_SteamDeckCompatIcon_2hEWY,
.shared_svg_library_SteamDeckCompatInfo_2LcFI>svg.shared_svg_library_SteamDeckCompatLogo_Tplfb {
  border-radius: 20px;
  background-color: #0e141b;
  border: #0e141b 2px solid;
}