.protondb-decky-indicator.gpfocus,
.protondb-decky-indicator:hover {
  outline: none;
}

.gamepadhomerecentgames_RecentGamesHeader_35iRe.gamepadhomerecentgames_HeaderEnter_1_JU4 {
  opacity: 0;
}

.BasicUI .DialogBody.contentmanagement_ContentManagement_3wk64.contentmanagement_InPagedSettings_1-m8p,
.BasicUI .contentmanagement_InPagedSettings_1-m8p>.contentmanagement_LibraryContent_ybEU2 {
  padding-top: 0;
}

.BasicUI .contentmanagement_LibraryContent_ybEU2 .contentmanagement_AppsGrid_2n6FN {
  margin-top: 0;
}

.BasicUI .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBody_2RCSU:focus,
.BasicUI .sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_17SQW:focus {
  border-radius: var(--round-radius-size);
}

.appdetailsfriendssection_FriendsSectionPlayingNow_fPAoc .appdetailsfriendssection_PlayingNowBody_17fER {
  border-radius: var(--round-radius-size);
}

.CSSLoader_ThemeCard_Container,
.CSSLoader_ThemeCard_ImageDarkener {
  border-radius: var(--round-radius-size);
}

.CSSLoader_FullTheme_ToggleContainer .gamepaddialog_Field_S-_La {
  border-radius: var(--round-radius-size);
  background: transparent;
}

.chatentry_chatEntryControls_2gP0D,
.chatentry_chatSubmitButton_1IEiK {
  border-radius: var(--round-radius-size);
}

.allcollections_Collection_3IWn- .allcollections_CollectionImage_2ERAQ .allcollections_CapsuleImage_2zbkb .libraryassetimage_GreyBackground_2E7G8,
.allcollections_Collection_3IWn- .allcollections_CollectionImage_2ERAQ .allcollections_CapsuleImage_2zbkb .libraryassetimage_GreyBackground_2E7G8 img {
  border-radius: 0;
}

.homestorecarousel_StoreCarouselCtn_3zVCV {
  margin-top: 0;
}