.protondb-decky-indicator.gpfocus,
.protondb-decky-indicator:hover {
  outline: none;
}

.appproperties_AppProperties_1FyBL .gamepadpagedsettings_PagedSettingsDialog_PageContent_wIOLO button.appproperties_ShortcutChange_2MgqW {
  width: 10px;
}

#hltb-for-deck>.hltb-info {
  padding-top: 0px;
  padding-bottom: 2px;
}