.protondb-decky-indicator.gpfocus,
.protondb-decky-indicator:hover {
  outline: none;
}

.gamepadhomerecentgames_RecentGamesHeader_35iRe.gamepadhomerecentgames_HeaderEnter_1_JU4 {
  opacity: 0;
}

.BasicUI .DialogBody.contentmanagement_ContentManagement_3wk64.contentmanagement_InPagedSettings_1-m8p,
.BasicUI .contentmanagement_InPagedSettings_1-m8p>.contentmanagement_LibraryContent_ybEU2 {
  padding-top: 0;
}

.BasicUI .contentmanagement_LibraryContent_ybEU2 .contentmanagement_AppsGrid_2n6FN {
  margin-top: 0;
}

.BasicUI .contentmanagement_AppsGrid_2n6FN .contentmanagement_AppBody_2RCSU:focus,
.BasicUI .sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_17SQW:focus {
  border-radius: var(--round-radius-size);
}
