.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx {
  background-color: transparent;
  box-shadow: none;
}

.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCGreen_1KR40 {
  color: #00ce7a;
}

.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCOrange_1H3NR {
  color: #ffbd3f;
}

.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCRed_3lWVD {
  color: #ff6874;
}