.header_HeaderDownloadContainer_2ssr3 .libraryassetimage_GreyBackground_2E7G8,
.header_HeaderDownloadContainer_2ssr3 img {
    background-color: black;
    border-radius: 0px !important;
}

.header_HeaderDownloadProgressBarBackground_vo3Tt {
    background-color: #172532 !important;
}