:root {
  --game-icon-radius: unset;
}

.gamepadhomewhatsnew_GameIcon_2RrB8,
.gamepadhomewhatsnew_GameIcon_2RrB8 img,
.recentlycompleted_GameIcon_DqP6r,
.recentlycompleted_GameIcon_DqP6r img,
.mainmenu_RunningAppIcon_26pwH,
.mainmenu_RunningAppIcon_26pwH img,
.appactivityday_GameIcon_2B8T_,
.appactivityday_GameIcon_2B8T_ img,
/* performance settings */
.KWPmfzNRc-wwIx_1WI7cQ ._1R9r2OBCxAmtuUVrgBEUBw,
.KWPmfzNRc-wwIx_1WI7cQ ._1R9r2OBCxAmtuUVrgBEUBw img,
.basicpartnereventspage_GameIconAndName_3R5H5 .libraryassetimage_Container_1R9r2,
.basicpartnereventspage_GameIconAndName_3R5H5 .libraryassetimage_Container_1R9r2 img,
.appdetailssoundtrack_ParentGameIcon_Pc5ZA,
.appdetailssoundtrack_ParentGameIcon_Pc5ZA img,
.groupName .gameGroupContainer .groupIcon,
img.GameIcon {
  background-color: transparent !important;
  border-radius: var(--game-icon-radius) !important;
}

.basicpartnereventspage_GameIconAndName_3R5H5 .libraryassetimage_Container_1R9r2 {
  width: 32px;
}

.header_HeaderDownloadProgressBarBackground_vo3Tt {
  background-color: #172532 !important;
}

.header_HeaderDownloadContainer_2ssr3 .libraryassetimage_GreyBackground_2E7G8,
.header_HeaderDownloadContainer_2ssr3 img {
  border-radius: 0px !important;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.header_HeaderDownloadContainer_2ssr3>svg>path:first-child {
  animation-duration: 0.15s;
  animation-fill-mode: both;
  animation-delay: 1.95s;
}

.header_HeaderDownloadContainer_2ssr3.header_NewAppDownloading_1eMUq>svg>path:first-child {
  animation-name: fadeOut;
}