.BasicUI .gamecapsule_InLibrary_fyHna {
  position: absolute;
  z-index: 100;
  height: 24px;
  width: 24px;
  top: 5px;
  right: unset;
  bottom: unset;
  left: 5px;
  background-color: #4f95bd;
  border-radius: 16px !important;
  font-size: 0;
  gap: 0;
  padding: 4px 4px 3px 4px;
  box-sizing: border-box;
  border: #0e141b;
  border-width: 3px;
  border-style: solid;
}

.BasicUI .gamecapsule_GameCapsule_fXdhj .gamecapsule_DeckCompat_Tl-6l {
  top: 4px;
  right: 4px;
  bottom: unset;
  left: unset;
}

.BasicUI .librarydesktopapps_DesktopApps_2-gV0 .appportrait_LibraryItemBoxSubscript_1LJqx,
.BasicUI .appportrait_Soundtrack_3Lu_5 .appportrait_LibraryItemBoxSubscript_1LJqx,
.BasicUI .appportrait_Soundtrack_3Lu_5 .appportrait_SteamDeckCompatIcon_3kDT9 {
  display: none;
}

.BasicUI .shared_svg_library_SteamDeckCompatInfo_2LcFI {
  background-color: #0e141b;
}

.BasicUI .appportrait_LibraryBottomItems_tvCvy>div.appportrait_LibraryItemIcons_3BPFq:only-child:before {
  left: 4px;
  bottom: 4px;
}

.BasicUI .appportrait_Portrait_1Pf6J .appportrait_UninstalledIcon_8YrRm {
  left: unset;
  bottom: unset;
}

.BasicUI .appportrait_Draggable_1pwP4>.appportrait_LibraryItemBox_WYgDg.Focusable:focus .appportrait_LibraryItemIcons_3BPFq:only-child::before,
.BasicUI .appportrait_Draggable_1pwP4>.appportrait_LibraryItemBox_WYgDg.Focusable:focus .appportrait_UninstalledIcon_8YrRm {
  transition: transform .25s cubic-bezier(0.22, 1, 0.36, 1), opacity 0s;
  opacity: 1;
}

.BasicUI .appportrait_Draggable_1pwP4>.appportrait_LibraryItemBox_WYgDg:hover .appportrait_LibraryItemIcons_3BPFq:only-child::before,
.BasicUI .appportrait_Draggable_1pwP4>.appportrait_LibraryItemBox_WYgDg:hover .appportrait_UninstalledIcon_8YrRm {
  transition: transform .1s cubic-bezier(0.22, 1, 0.36, 1), opacity .25s ease-out;
  opacity: 1;
}

.BasicUI .appportrait_InRecentGames_biTV-.gpfocuswithin div[class*="appportrait_LibraryItemIcons"]:only-child:before,
.BasicUI .appportrait_InCollection_3ANru.gpfocuswithin div[class*="appportrait_LibraryItemIcons"]:only-child:before,
.BasicUI .appportrait_InRecentGames_biTV-:hover:only-child::before,
.BasicUI .appportrait_InCollection_3ANru:hover:only-child::before,
.BasicUI .appportrait_InRecentGames_biTV-.gpfocuswithin .appportrait_UninstalledIcon_8YrRm,
.BasicUI .appportrait_InCollection_3ANru.gpfocuswithin .appportrait_UninstalledIcon_8YrRm,
.BasicUI .appportrait_InRecentGames_biTV-:hover .appportrait_UninstalledIcon_8YrRm,
.BasicUI .appportrait_InCollection_3ANru:hover .appportrait_UninstalledIcon_8YrRm {
  opacity: 0;
}

.BasicUI .appportrait_HoversEnabled_54PuC .appportrait_LibraryItemBox_WYgDg.appportrait_ShowAsHovered_2YsY_ .appportrait_SteamDeckCompatIcon_3kDT9 {
  opacity: 0;
}